---
sudo: false
language: ruby
bundler_args: --without system_tests
#script: "bundle exec rake validate && bundle exec rake lint && bundle exec rake spec SPEC_OPTS='--format documentation'"
#script: "bundle exec rake validate && bundle exec rake lint || bundle exec rake lint | grep -v 'variable contains a dash on line' | grep  'ERROR\\|WARNING' && exit 1 || exit 0"
script: "bundle exec rake validate && bundle exec rake lint || bundle exec rake lint"
matrix:
  fast_finish: true
  include:
  - rvm: 2.1.5
    env: PUPPET_GEM_VERSION="~> 4.10.0"
  - rvm: 2.1.5
    env: PUPPET_GEM_VERSION="~> 5.4.0"
